main, aside {
  position: absolute;
  width: calc(100% - 330px);
  height: 100%;
  right: 0px;
  z-index: 10;
}

  main header {
    height: 5%;
    width: 85%;
    margin: auto;
    margin-top: 2%;
    position: relative;
  }

  main header:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffe8b2+100&0+0,0.65+100 */

    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(255,232,178,0.65) 100%); /* FF3.6-15 */

    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(255,232,178,0.65) 100%); /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(255,232,178,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffe8b2',GradientType=1 ); /* IE6-9 */


  }

  main article {
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    padding-left: 1%;
    position: relative;
  }

article .content {
  width: 99%;
  height: 98%;
  position: absolute;
  border-bottom: 1px solid #05A;
  z-index: 10;
  overflow: auto;
  padding: 1%;
}

article .bg {
  width: 100%;
  height: 98%;
  position: absolute;
  z-index: 1;
}

article .bg:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 99%;
  bottom: 2px;
  right: 4px;

  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 );
}

article .bg:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  bottom: 9px;
  right: 1px;

  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 );
}

aside {
  z-index: 1;
}

aside:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30%;
  bottom: 0;
  left: 0;

  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 );
}

aside:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 70%;
  bottom: 5%;
  left: 5%;

  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=0 );
}

  aside div.desk {
    position: absolute;
    bottom: 0;
    left: 1px;
    height: 5%;
    width: calc(100% - 1px);

    background: -moz-linear-gradient(top,  rgba(255,203,145,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,203,145,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,203,145,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffcb91', endColorstr='#00000000',GradientType=0 );
  }

  aside .desk-lamp {
    position: absolute;
    width: 5%;
    height: 5%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    right: 0;
    bottom: 5%;
    box-shadow: -5px 30px 42px #ffffff;
    z-index: 1;
  }

  aside .left-angle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    bottom: 1px;
    left: 1px;
    z-index: 1;
  }

  .frame {
    perspective: 500px;
    width: 90%;
    position: absolute;
    bottom: 2%;
    height: 15%;
  }

  .frame figure {
    -webkit-transform: rotateY( -20deg );
    transform: rotateY( -20deg );
    width: 20%;
    height: 100%;
    margin-left: 10%;
    float: left;
  }


