/* You can add global styles to this file, and also import other style files */
h3, h4 {
  margin: 2% 0;
}

h3:after, h4:after {
  content: "";
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(64,58,45,0) 25%, rgba(255,232,178,0.65) 100%);
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(64,58,45,0) 25%,rgba(255,232,178,0.65) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(64,58,45,0) 25%,rgba(255,232,178,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6ffe8b2',GradientType=1 );
  height: 2px;
  width: 100%;
  display: block;
  margin-top: 1%;
}

